
<%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: 'no-image-mini.jpg' %>
<%= @user.name %>
<%= @user.introduction %>
<%= link_to 'edit', edit_user_path(@user) %>


<% @favorite_posts.each do |post| %>
<p><span>ファボした投稿の内容: </span><%= link_to post.body, post_path(post.id) %></p>
<% end %>


<h3>音声認識</h3>
<button id = "btn">音声認識を開始する</button>
<div id = "content"></div>

<script></script>


