<!DOCTYPE html>
<html>
  <head>
    <title>Gently</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body class="body-wrap">
  <main>
    <section id="sv">
      <div class= "container about-visual">
      </div>
    </section>
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <h1 class="service-content">About</h1>
      </div>
      <div class="row align-items-center py-3">
        <div class="col-12 col-md-6 text-center">
          <%= image_tag 'comment.jpg', class: "rounded about-img", size: '350x250' %>
        </div>
        <div class="col-12 col-md-6 mt-3">
          <%# <h2 class="about-heading my-4 pl-4">Record</h2> %>
          <p class="about-text">
            喋った内容を自動テキスト化し、そのテキストから感情分析が出来るアプリケーションです。<br>
            アプリ内にある『音声聞き取りを開始』ボタンを押すと、<br>
            喋った内容を自動テキスト化することが出来ます。<br>
            また、テキストから感情分析を行いスコアに応じて絵文字を出力します。<br>
            さらに、テキストをアプリケーションに投稿することによって他ユーザーからいいね、コメントを貰うことが出来ます。<br>
          </p>
        </div>
      </div>
    </div>
  </main>
  </body>
</html>
