<!DOCTYPE html>
<html>
  <head>
    <title>Gently</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>

  <body class="body-wrap">
    <%# <%= render 'header' %>

  <main>
    <section id="mv">
    <!--<div class= "jumbotron">-->
      <div class= "container key-visual">
        <h1 class= "display-4 catch">Feel happy and comfortable</h1>
        <p class="my-4 head-text">
          話し合いをするすべての方へ<br>
          何かより良い話し合いの方法がないか。<br>
          そんな思いを込めたアプリです
        </p>
        <%= link_to 'SignUpはこちら', new_user_registration_path, class: "btn btn-info btn-lg" %>
      </div>
    <!--</div>-->
    </section>
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <h1 class="service-content"></h1>
      </div>
      <div class="row py-2">
        <div class="col-sm-12 col-md-4 text-center py-5">
          <%= image_tag '1.jpg', class: "rounded-circle mb-3", size: '200x200' %>
          <h2 class="my-4">Record</h2>
          <p>話すだけ<br>
            ボタン一つでいつでも簡単に<br>
            議事録をとる事ができます
          </p>
        </div>
        <div class="col-sm-12 col-md-4 text-center py-5">
          <%= image_tag '2.jpg', class: "rounded-circle mb-3", size: '200x200' %>
          <h2 class="my-4">Sentiment</h2>
          <p>感情を見る<br>
            手を使わず、音声入力されるから<br>
            会話に集中出来ます。
          </p>
        </div>
        <div class="col-sm-12 col-md-4 text-center py-5">
          <%= image_tag '3.jpg', class: "rounded-circle mb-3", size: '200x200' %>
          <h2 class="my-4">Board</h2>
          <p>パートナー、家族との会話で<br>
            悩んだときは<br>
            掲示板で仲間と気軽に意見交換をしましょう
          </p>
        </div>
      </div>
      <div class="row justify-content-center pt-3 pb-5">
      <%# <%= link_to 'もっと詳しく »', homes_about_path, class: "btn btn-outline-info btn-lg" %>
      </div>
    </div>
  </main>
  <%# <%= render 'footer' %>
  </body>
</html>
