<!DOCTYPE html>
<html>
  <head>
    <title>Gently</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  </head>
<nav class="navbar navbar-expand-md">
  <div class="container">
    <% if user_signed_in? %>
    <a class="navbar-brand" href="/posts">Gently</a>
    <% else %>
    <a class="navbar-brand" href="/">Gently</a>
    <% end %>

  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <%= link_to '自動音声認識/新規投稿', new_post_path %>
          <%= link_to 'ユーザー一覧', users_path %>
          <%= link_to '投稿一覧', posts_path %>
          <%= link_to 'マイページ', user_path(current_user.id) %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "About", homes_about_path %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
      <% end %>
    </ul>
  </div>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
