<!DOCTYPE html>
<html>
  <head>
    <title>Gently</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="slidemenu">
    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
      <% if user_signed_in? %>
        <li class="">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
        <li class="">
          <%= link_to '新規投稿', new_post_path %>
        </li>
        <li class="">
          <%= link_to 'ユーザー一覧', users_path %>
        </li>
        <li class="">
          <%= link_to '投稿一覧', posts_path %>
        </li>
        <li class="">
          <%= link_to 'マイページ', user_path(current_user.id) %>
        </li>
      <% else %>
        <li class="">
          <%= link_to "About", homes_about_path %>
        </li>
        <li class="">
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li class="">
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
